body{
	overflow-x: hidden;
}

body a{
	text-decoration: none;
}


h1{
	font-family: 'Architects Daughter';
	font-size: 40px;
	text-align: center;
	text-decoration: none;
}

h1 a{
text-decoration: none;
color: #000000;
}

h4{
	font-family: 'Architects Daughter';
	font-size: 15px;
	text-align: center;
	text-decoration: none;

}

h4 a{
text-decoration: none;
color: #000000;
}

.mode_choice{
	
	border-radius: 25px;
	box-shadow: 5px 5px 5px #888888;
	width: 300px;
	height: 150px;
	padding: 10px;
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: 200;
	color: #3878c7;
	margin: 20px;
	align: center;
}

.mode_choice:hover{
	box-shadow: 5px 5px 5px #f59c1e;
}

#choice1{
	
	background-color: #b3d1ff;
}

#choice2{
	
	background-color: #e5efd4
}

#choice3{
	
	background-color: #c1d5a3;
}



#option_bar{
	
	margin: 0 auto;
}

.toggler{
	width: 100%;
	height: 55px;
	background-color: #cadfaa;
	padding: 10px;
	font-family: "Source Sans Pro";
	font-weight: bold;	
}

.toggler img{
	height: 45px;
	width: auto;
}

#input_controller{
	top: 500px;
	left: 600px;
	width: 500px;
	height: auto;
	border-radius: 15px;
	background-color: #CCCCFF;
	position: absolute;
	z-index: 6;
	font-family: 'Architects Daughter';
	margin: 10px;
	padding: 10px;
}


#remote_controller{
	top: 500px;
	left: 600px;
	width: 500px;
	height: auto;
	border-radius: 15px;
	background-color: #CCCCFF;
	position: absolute;
	z-index: 6;
	font-family: 'Architects Daughter';
	margin: 10px;
	padding: 10px;
}

#navigation_bar table{
	width: 100%;
	margin: auto;
	text-align: center;
}

#navigation_bar{
	font-family: 'Architects Daughter';
	
	width: 100%;
	
}

#navigation_bar a{
	text-decoration: none;
	font-size: 20px;
	color: #4ccdb6;
}

#navigation_bar a:hover{
	color: #4c8acd;
	font-weight: 900;
}

#sample_profile{
	margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}

h3{
	font-size: 16px;
}

#chart{
position: relative;
}

.three_chart{
	margin: auto;
	width: 80%;
}

#overlay{
background-color: #FFFFFF;
width: 100%;
height: 100%;
z-index: 5;
position: absolute;
top: 0px;
left: 0px;
opacity: 0.5
}



#chart_container{
	text-align: center;
	width: 60%;
}

#chart_container td{
	width: 30%;
}


.fraction, .top, .bottom {
    padding: 0 5px;
		font-family: "Times New Roman";
		font-size: 30px;
}

.calc_result{
    padding: 0 5px;
		font-family: "Times New Roman";
		font-size: 30px;
}

.fraction {
    display: inline-block;
    text-align: center;    
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}

.data_table{
	margin: auto;
    width: 60%;
    padding: 10px;
}

.results_table{
	border: 1px solid #8AC007;
	padding: 10px;
}

.results_table td{
	border: 1px solid #8AC007;
	padding: 10px;
}

#sample_profile td{
	border: 1px solid #8AC007;
}


.frame{
	
	height: 600px;
	overflow: scroll;
	overflow-x: hidden;
}


#location_nav{
	
	margin-top: -100px;
}

#location_nav td{
	position:relative;
    top:100;
	color: #FFFFFF;
	font-family: 'Source Sans Pro';
	background: #7e939e;
	width: 200px;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	
}

#location_nav td:hover{
	
	background: #c9e5f3;
	color: #11394e;
	
}

#location_nav tr{
	height: 0px;
}

#city_nav{
	
	margin-top: -100px;
}

#city_nav td{
	position:relative;
    top:100;
	color: #FFFFFF;
	font-family: 'Source Sans Pro';
	background: #78cdc4;
	width: 200px;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	
}

#city_nav td:hover{
	
	background: #2d958a;
	color: #11394e;

	
}
